exports.mailTransportType = "SMTP";
exports.mailTransportSettings = {
  service: "SendGrid",
  auth: {
    user: "username",
    pass: "passwork"
  }
};

exports.to = 'something@example.com';

exports.url = [
  'http://localhost:1337'
];
